/* components/nav.module.css */
.sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  overflow-y: auto;
  background-color: #333; /* 濃い背景色でスタイリッシュに */
  color: white; /* テキスト色を白に */
  padding: 20px; /* 内側の余白を追加 */
}

.sidebarList {
  display: flex;      /* フレックスコンテナを定義 */
  flex-direction: column; /* 項目を縦方向に並べる */
  list-style: none;      /* リストマーカーを削除 */
  padding: 0;            /* リストのパディングをリセット */
  margin: 0;             /* リストのマージンをリセット */
}


.sidebarItem {
  display: block; /* リスト項目をブロック要素として表示 */
  /* padding: 10px 20px; */
  /* margin: 5px 0; */
  background-color: #444;
  color: white; /* テキストの色を白に設定 */
  text-decoration: none; /* テキストの下線を削除 */
  cursor: pointer;
  border-radius: 5px;
}

.sidebarItem:hover {
  background-color: #555;
}

/* 以下にスタイルを追加 */
.sidebarItem + .sidebarItem {
  margin-top: 10px; /* 項目間の余白を設定 */
}
